body {
  padding: 0;
  padding-top: 40px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #000;
  border-top: 3px solid #00e676;
}

.container {
  max-width: 1500px;
  margin: 0 3%;
}

h1 {
  margin-top: 10px;
  font-family: 'Merriweather', serif;
  font-size: 1.9em;
  font-weight: bold;
  color: #00e676;
}

.button {
  float: right;
  padding: 5px 7px;
  margin: 0;
  margin-left: 10px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  background: #4db6ac;
  border: none;
  border-radius: 2px;
}

p {
  max-width: 75%;
  margin: 0;
  margin-bottom: 30px;
  line-height: 1.5em;
  color: white;
}

p a,
p a:visited,
p a:active {
  color: white;
}

iframe {
  width: 50%;
}

li {
  display: inline-block;
}

ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mosaic {
  display: flex;
  flex-wrap: wrap;
}

.mosaic-item {
  overflow: hidden;
  cursor: pointer;
  flex-basis: 33.333%;
  transition: all 0.2s;
}

.img {
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100%;
          background-size: 100%;
  border: 4px solid black;
}

.lg-3 {
  flex-basis: 50%;
}

.lg-6 {
  flex-basis: 100%;
}

.lg-6 .img {
  height: 700px;
}

.double-height {
  height: 400px;
}

@media (max-width: 1024px) {
  .lg-6 .img,
  .double-height {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .lg-3 {
    flex-basis: 100%;
  }

  .lg-6 .img,
  .double-height {
    height: 400px;
  }
}

@media (max-width: 435px) {
  .lg-6 .img,
  .double-height {
    height: 200px;
  }
}

.img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-1.jpg);
}

.mosaic-item:nth-of-type(2) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-2.jpg);
}

.mosaic-item:nth-of-type(3) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-3.jpg);
}

.mosaic-item:nth-of-type(4) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-4.jpg);
}

.mosaic-item:nth-of-type(5) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-5.jpg);
}

.mosaic-item:nth-of-type(6) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-6.jpg);
}

.mosaic-item:nth-of-type(7) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-7.jpg);
}

.mosaic-item:nth-of-type(8) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-8.jpg);
}

.mosaic-item:nth-of-type(9) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-9.jpg);
}

.mosaic-item:nth-of-type(10) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-10.jpg);
}

.mosaic-item:nth-of-type(11) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-11.jpg);
}

.mosaic-item:nth-of-type(12) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-12.jpg);
}

.mosaic-item:nth-of-type(13) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-13.jpg);
}

.mosaic-item:nth-of-type(14) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-14.jpg);
}

.mosaic-item:nth-of-type(15) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-15.jpg);
}

.mosaic-item:nth-of-type(16) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-16.jpg);
}

.mosaic-item:nth-of-type(17) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-17.jpg);
}

.mosaic-item:nth-of-type(18) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-18.jpg);
}

.mosaic-item:nth-of-type(19) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-19.jpg);
}

.mosaic-item:nth-of-type(20) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-20.jpg);
}

.mosaic-item:nth-of-type(21) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-21.jpg);
}

.mosaic-item:nth-of-type(22) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-22.jpg);
}

.mosaic-item:nth-of-type(23) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-23.jpg);
}

.mosaic-item:nth-of-type(24) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-24.jpg);
}

.mosaic-item:nth-of-type(25) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-25.jpg);
}

.mosaic-item:nth-of-type(26) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-26.jpg);
}

.mosaic-item:nth-of-type(27) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-27.jpg);
}

.mosaic-item:nth-of-type(28) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-28.jpg);
}

.mosaic-item:nth-of-type(29) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-29.jpg);
}

.mosaic-item:nth-of-type(30) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-30.jpg);
}

.mosaic-item:nth-of-type(31) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-31.jpg);
}

.mosaic-item:nth-of-type(32) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-32.jpg);
}

.mosaic-item:nth-of-type(33) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-33.jpg);
}

.mosaic-item:nth-of-type(34) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-34.jpg);
}

.mosaic-item:nth-of-type(35) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-35.jpg);
}

.mosaic-item:nth-of-type(36) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-36.jpg);
}

.mosaic-item:nth-of-type(37) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-37.jpg);
}

.mosaic-item:nth-of-type(38) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-38.jpg);
}

.mosaic-item:nth-of-type(39) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-39.jpg);
}

.mosaic-item:nth-of-type(40) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-40.jpg);
}

.mosaic-item:nth-of-type(41) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-41.jpg);
}

.mosaic-item:nth-of-type(42) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-42.jpg);
}

.mosaic-item:nth-of-type(43) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-43.jpg);
}

.mosaic-item:nth-of-type(44) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-44.jpg);
}

.mosaic-item:nth-of-type(45) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-45.jpg);
}

.mosaic-item:nth-of-type(46) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-46.jpg);
}

.mosaic-item:nth-of-type(47) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-47.jpg);
}

.mosaic-item:nth-of-type(48) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-48.jpg);
}

.mosaic-item:nth-of-type(49) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-49.jpg);
}

.mosaic-item:nth-of-type(50) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-50.jpg);
}

.mosaic-item:nth-of-type(51) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-51.jpg);
}

.mosaic-item:nth-of-type(52) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-52.jpg);
}

.mosaic-item:nth-of-type(53) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-53.jpg);
}

.mosaic-item:nth-of-type(54) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-54.jpg);
}

.mosaic-item:nth-of-type(55) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-55.jpg);
}

.mosaic-item:nth-of-type(56) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-56.jpg);
}

.mosaic-item:nth-of-type(57) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-57.jpg);
}

.mosaic-item:nth-of-type(58) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-58.jpg);
}

.mosaic-item:nth-of-type(59) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-59.jpg);
}

.mosaic-item:nth-of-type(60) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-60.jpg);
}

.mosaic-item:nth-of-type(61) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-61.jpg);
}

.mosaic-item:nth-of-type(62) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-62.jpg);
}

.mosaic-item:nth-of-type(63) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-63.jpg);
}

.mosaic-item:nth-of-type(64) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-64.jpg);
}

.mosaic-item:nth-of-type(65) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-65.jpg);
}

.mosaic-item:nth-of-type(66) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-66.jpg);
}

.mosaic-item:nth-of-type(67) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-67.jpg);
}

.mosaic-item:nth-of-type(68) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-68.jpg);
}

.mosaic-item:nth-of-type(69) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-69.jpg);
}

.mosaic-item:nth-of-type(70) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-70.jpg);
}

.mosaic-item:nth-of-type(71) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-71.jpg);
}

.mosaic-item:nth-of-type(72) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-72.jpg);
}

.mosaic-item:nth-of-type(73) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-73.jpg);
}

.mosaic-item:nth-of-type(74) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-74.jpg);
}

.mosaic-item:nth-of-type(75) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-75.jpg);
}

.mosaic-item:nth-of-type(76) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-76.jpg);
}

.mosaic-item:nth-of-type(77) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-77.jpg);
}

.mosaic-item:nth-of-type(78) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-78.jpg);
}

.mosaic-item:nth-of-type(79) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-79.jpg);
}

.mosaic-item:nth-of-type(80) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-80.jpg);
}

.mosaic-item:nth-of-type(81) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-81.jpg);
}

.mosaic-item:nth-of-type(82) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-82.jpg);
}

.mosaic-item:nth-of-type(83) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhas-83.jpg);
}

.mosaic-item:nth-of-type(84) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhasoutros-1.jpg);
}

.mosaic-item:nth-of-type(85) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhasoutros-2.jpg);
}

.mosaic-item:nth-of-type(86) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhasoutros-3.jpg);
}

.mosaic-item:nth-of-type(87) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhasoutros-4.jpg);
}

.mosaic-item:nth-of-type(88) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhasoutros-5.jpg);
}

.mosaic-item:nth-of-type(89) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhasoutros-6.jpg);
}

.mosaic-item:nth-of-type(90) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhasoutros-7.jpg);
}

.mosaic-item:nth-of-type(91) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhasoutros-8.jpg);
}

.mosaic-item:nth-of-type(93) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhasoutros-10.jpg);
}

.mosaic-item:nth-of-type(94) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhasoutros-11.jpg);
}

.mosaic-item:nth-of-type(95) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhasoutros-12.jpg);
}

.mosaic-item:nth-of-type(96) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhasoutros-13.jpg);
}

.mosaic-item:nth-of-type(97) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhasoutros-14.jpg);
}

.mosaic-item:nth-of-type(98) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhasoutros-15.jpg);
}

.mosaic-item:nth-of-type(99) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhasoutros-16.jpg);
}

.mosaic-item:nth-of-type(100) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhasoutros-17.jpg);
}

.mosaic-item:nth-of-type(101) .img.loaded {
  background-image: url(https://s3-sa-east-1.amazonaws.com/saochico/tainhasoutros-18.jpg);
}
