body {
  padding: 0;
  padding-top: 40px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  float: right;
  padding: 5px 7px;
  margin-left: 10px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  background: #4db6ac;
  border: none;
  border-radius: 2px;
}

iframe {
  width: 50%;
}

nav {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 15px 0;
  margin: 0;
  background: white;
}

nav a {
  margin-right: 15px;
  font-weight: bold;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
}

li {
  display: inline-block;
}

ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
}

.mosaic {
  display: flex;
  cursor: pointer;

  flex-wrap: wrap;
}

.mosaic-item {
  overflow: hidden;
  flex-basis: 33.333%;
  transition: all .2s;
}

.img {
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 350px;
          background-size: 350px;
  -webkit-transition: -webkit-transform .3s ease;
          transition:     -ms-transform .3s ease;
          transition:         transform .3s ease;
}

h2 {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 7px;
  font-size: 22px;
  color: #777;
  text-transform: uppercase;
  flex-basis: 100%;
}

.img:hover {
  transform: scale(1.05);
}

.double-height {
  height: 300px;
}

.lg-3 .img.double-height {
  -webkit-background-size: 600px;
          background-size: 600px;
}

@media (min-width: 768px) {
  .lg-1 {
    flex-basis: 16.666%;
  }

  .lg-2 {
    flex-basis: 33.333%;
  }

  .lg-3 {
    flex-basis: 50%;
  }

  .lg-4 {
    flex-basis: 66.666%;
  }

  .lg-6 {
    flex-basis: 100%;
  }

  .lg-2 .img {
    -webkit-background-size: 400px;
            background-size: 400px;
  }

  .lg-4 .img {
    -webkit-background-size: 800px;
            background-size: 800px;
  }

  .lg-6 .img {
    -webkit-background-size: 1000px;
            background-size: 1000px;
  }
}
